In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv('/content/netflix_titles (2).csv', encoding='ISO-8859-1')

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.drop(columns=['Column1'], errors='ignore')

In [ ]:
# Clean and convert date format
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', dayfirst=False)

<ipython-input-5-bc0cd8cfb2f0>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', dayfirst=False)

In [ ]:
df['date_added'] = df['date_added'].dt.strftime('%d-%m-%Y')

In [ ]:
def clean_special_chars(text):
    if pd.isna(text):
        return text
    return re.sub(r'[^A-Za-z0-9\s,.-]', '', text)

text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].apply(clean_special_chars)

In [ ]:
df = df.drop_duplicates()

In [ ]:
# Example: fill null in 'country' and 'rating' with mode
df['country'].fillna(df['country'].mode()[0], inplace=True)
df['rating'].fillna(df['rating'].mode()[0], inplace=True)

# Fill missing dates with a fixed value or forward fill
df['date_added'].fillna(method='ffill', inplace=True)

<ipython-input-10-72a704e08a7c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna(df['country'].mode()[0], inplace=True)
<ipython-input-10-72a704e08a7c>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mode()[0], inplace=True)
<ipython-input-10-72a704e08a7c>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['date_added'].fillna(method='ffill', inplace=True)
<ipython-input-10-72a704e08a7c>:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['date_added'].fillna(method='ffill', inplace=True)

In [ ]:
df.to_csv('netflix_titles_cleaned.csv', index=False)

In [ ]:
print(df.head(10))

  show_id     type                            title  \
0      s1    Movie             Dick Johnson Is Dead
1      s2  TV Show                     Blood  Water
2      s3  TV Show                        Ganglands
3      s4  TV Show            Jailbirds New Orleans
4      s5  TV Show                     Kota Factory
5      s6  TV Show                    Midnight Mass
6      s7    Movie  My Little Pony A New Generation
7      s8    Movie                          Sankofa
8      s9  TV Show    The Great British Baking Show
9     s10    Movie                     The Starling

                       director  \
0               Kirsten Johnson
1               Kirsten Johnson
2               Julien Leclercq
3               Julien Leclercq
4               Julien Leclercq
5                 Mike Flanagan
6  Robert Cullen, Jos Luis Ucha
7                  Haile Gerima
8               Andy Devonshire
9                Theodore Melfi

                                                cast  \
0  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris ODowd, Kevin Kline, Ti...

                                             country  date_added  \
0                                      United States  25-09-2021
1                                       South Africa  24-09-2021
2                                       South Africa  24-09-2021
3                                       South Africa  24-09-2021
4                                              India  24-09-2021
5                                              India  24-09-2021
6                                              India  24-09-2021
7  United States, Ghana, Burkina Faso, United Kin...  24-09-2021
8                                     United Kingdom  24-09-2021
9                                      United States  24-09-2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                            Children  Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description  \
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestrias divided. But a bright-eyed hero bel...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

   1. date conbert september 21,2005  to 25-09-2025 2.rem 4. removed special charavters  3. removed diplicate values 5.removed null values and replae eith approximate values
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN